.item-image {
  width: 150px; /* largeur fixe pour toutes les images */
  height: 150px; /* hauteur fixe pour toutes les images */
  object-fit: cover; /* ajuste l'image pour remplir l'espace tout en gardant ses proportions */
  border-radius: 8px; /* arrondit les bords, optionnel */
}
